<h1>Random Results</h1>

<h4>Minimum</h4>
<%= @min %>

<h4>Maximum</h4>
<%= @max %>

<h4>Random</h4>
<%= @random %>

<p>
<a href="/random/results?min=<%= @min %>&max=<%= @max %>">Pick another random number</a>
</p>